@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* banner */

.banner-container {
    background-image: url("../assets/Hero-bg.png");
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 44px;
    text-align: center;
}

.banner-content .img {
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;

}

.banner-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 73px;
}

.banner-content button {
    width: 208px;
    height: 66px;
    margin: 0 auto;
    padding: 21px 24px 21px 24px;
    margin-top: 8px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}

/* section two */

.two {
    max-width: 1140px;
    height: 1200px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.section-two-container {
    width: 946px;
    height: 1235px;
    margin: 80px auto;
}

.beginning {
    width: 852px;
    margin: 0 auto;
    text-align: center;
    color: rgb(13, 19, 33);
}

.section-two-container .beginning h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.section-two-container .beginning p {
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.first-section {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.first-section-content {
    width: 850px;
    height: 240px;
    margin: 48px;
    display: flex;
    justify-content: space-between;
}

.first-section-text {
    width: 477px;
    height: 140px;
}

.first-section-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: left;
}

.first-section-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 16px;
}

.first-section-text .btn button {
    width: 171px;
    height: 47px;
    margin: 0 auto;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 25px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}

.first-section-image {
    width: 274.17px;
    height: 240px;
}

.first-section-image img {
    width: 259.56px;
    height: 217.01px;
}

/* second section */
.second-section {
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.second-section-content {
    width: 850px;
    height: 240px;
    margin: 48px;
    display: flex;
}

.second-section-text {
    width: 477px;
    height: 140px;
}

.second-section-text h3 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: left;
}

.second-section-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 16px;
}

.second-section-text .btn button {
    width: 171px;
    height: 47px;
    margin: 0 auto;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 25px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}

.second-section-image {
    width: 240px;
    height: 240px;
}

.second-section-image img {
    width: 223.2px;
    height: 208.85px;
}

.btn button a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

/* third-section */

.three {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
}

.section-three-container {
    width: 852px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.section-three-container h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}

.section-three-container p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.video {
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.video iframe {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
}